*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: greenyellow;
 display: flex;
 justify-content: center;
 align-items: center;
}

.box{
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 25px;
    margin-top:100px ;
    
    
}
h1{
    padding-left: 20px;
    
}
.one{
    display: flex;
    justify-content: space-around;
    padding-bottom:30px;
    align-items: center;
    padding-top: 15px;
}
button{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;

}